BasedOnStyle: LLVM
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveMacros: true
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: true
BreakBeforeTernaryOperators: true
ColumnLimit: 120