BasedOnStyle: LLVM
AlignArrayOfStructures: Left
AlignConsecutiveMacros: true
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: true
BreakBeforeTernaryOperators: true
ColumnLimit: 120